.App {
    padding-left: 60px;
    background: url(../../../snow.png) repeat, url(../../../tree.png) no-repeat bottom right;
    background-color: #e7eaef;
}
.App-dark {
    background: #222;
    color: #fff;
}
.App-green {
    --main-color: darkgreen
}
.App h2 {
    padding: 30px;
    margin: 0;
    border-bottom: 8px double var(--main-color);
    text-align: center;
    text-transform: uppercase;
}
.App .title-dark {
    border-bottom: 8px double var(--main-dark-color);
}
.App h3 {
    text-align: center;
}