.default {
    outline: none;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    margin: 5px;
    position: relative;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 4px;
    background: var(--main-color);
    text-transform: capitalize;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.default:before, .default:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 4px;
}
.default:before {
    bottom: 0;
    left: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.default:after {
    top: 0;
    right: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.default:hover:before,
.default:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.default:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.default:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.default:hover {
    box-shadow: 0 0 5px 2px #333;
}
.red {
    background: red;
}
.default:disabled {
    background: darkslategray;
    color: #aaa;
}
.default:disabled:hover {
    box-shadow: none;
}
.default:disabled:hover:before, .default:disabled:hover:after {
    height: 0;
    width: 0;
    opacity: 0;
}