* {
    box-sizing: border-box;
}
.totalUser {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 15px;
}
.inputGroup {
    position: relative;
    max-width: 400px;
    margin: auto;
}
.input {
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ddd;
    outline: none;
    width: 100%;
}
.input:focus {
    border-color: #05828e;
}
.input.error:focus {
    border-color: red;
}
.error {
    border-color: red;
}
.errorText {
    display: block;
    color: red;
}
.inputGroup button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    font-size: 20px;
    padding: 5px;
    color: #fff;
    background: #05828e;
    border: 2px solid #05828e;
    border-radius: 0 10px 10px 0;
}
.inputGroup button:disabled {
    border-color: red;
    background: darkslategray;
}